body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #b87eb5, #d194ce);
    color: white;
    margin: 0;
    padding: 40px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
    margin-top: 0;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin: 6px 0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    width: 120px;
    height: 120px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front,
 .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 40px;
   font-weight: bold;
   backface-visibility: hidden;
}

.card-front {
    background-color:purple;
}
.card-back {
    transform: rotateY('180deg');
}

/*  Colors */
.green { background-color: green; 
color: white;
}

.orange {background-color: orange; 
color: white;
}

.blue { background-color:lightblue;
     color: black;
     }

